.mobile{
    overflow-x: hidden;
    .navbar-fixed-container{
        .navbar-right{
            display: none;
        }
        .dropdown{
            height: 50px;
            line-height: 50px;
            display: block;
        }
        .dropdown-toggle{
            position: absolute;
            right: 0;
            top: 8px;
        }
        .dropdown-menu{
            top: 40px;
            li{
                font-size: 16px;
                padding: 5px 0;
            }
        }
    }
    .home-scroll-container{
        .scrollimg{
            width: 100%;
            height: auto;
            margin-top: 20px;
        }
    }
    .tools-container{
        button{
            overflow: hidden;
            margin: 10px 0 20px 0;
        }
        img{
            max-width: 100%;
        }
    }
}